<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 50%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 25.0501101, lng: 121.5255337};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7aYRjJCDCo3Qw9PZe6TS9YfBYRmU1Vg4&callback=initMap">
    </script>
  </body>
</html>